<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Información de Contacto</h3>
                <p><i class="fas fa-globe"></i> Dirección: New hope #987</p>
                <p><i class="fas fa-envelope"></i> Email: info@REPECHAJE.com</p>
                <p><i class="fas fa-phone"></i> Teléfono: (+56 9) 456-123-789</p>
            </div>
            <div class="col-md-4">
                <h3>Redes Sociales</h3>
                <i class="fab fa-instagram-square fa-lg"></i> <a href="#" class="text-white">Facebook</a>
                <br>
                <i class="fab fa-twitter-square fa-lg"></i> <a href="#" class="text-white">Twitter</a><br>
                <i class="fab fa-instagram-square fa-lg"></i> <a href="#" class="text-white">Instagram</a>
            </div>
            <div class="col-md-4">
                <h4><i class="fas fa-copyright fa-lg"></i>Untitled. All rights reserved</h4><br>
            </div>
        </div>
    </div>
</footer>